<section>
  <h2>Post Your Service</h2>

  <form class="new-company-form">
    <div>
      <label for="company-title">Title</label>
      <input type="text" id="company-title" name="company-title" />
    </div>
    <div>
      <label for="company-url">Link</label>
      <input id="company-url" name="company-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if companies.length}}
<section>
  <h2>Your companys</h2>
  <ol>
    {{#each companys as |company|}}
    <li>
      {{> company-info company}}
      <a href="/dashboard/edit/{{company.id}}" class="edit-link">Edit company</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-company.js"></script>


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Handy-Man</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul class="flex-row">
      <li class="li-inline nav-item"><a href="/">Login</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/dashboard">Your Dashboard</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Company</a>
  </footer>
</body>

<script src="/js/logout.js"></script>

</html>