!DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href ="">
    <title>Handy Man</title>
</head>
<body>
    <header>
        <h1>Handy Man</h1>
        <nav>
            <a href="/login">login</a>
        </nav>
    </header>
<main>
    {{{ body }}}
</main>

<footer>
    Hope you found the right handy man for the job!
</footer>
</body>
</html>