     <main class="flex-container">
      <section class="user">
        <div>
          <h2>Create New Ad Here</h2>
        </div>
      </section>

      <section class="ads">
        <form id="renderAdForm">
          <div id="renderAdDiv">
            <h2>Tell us about your company.</h2>
            <label for="companyName">Company Name:</label><br/>
            <input type="text" id="CompanyName" name="CompanyName" /><br />
            <h2>What type of service do you provide?</h2>
            <input
              type="radio"
              id="remodelingNewConstruction"
              value="Remodeling/New Construction"
            />
            <label>Remodeling/New Construction</label><br />
            <input
              type="radio"
              id="electricianServices"
              value="Electrician Services"
            />
            <label>Electrician Services</label><br />
            <input type="radio" id="plumbing" value="Plumbing" />
            <label>Plumbing</label><br />
            <input type="radio" id="hvac" value="HVAC" />
            <label>HVAC</label><br />
            <label for="specialty">What is your specialty?</label><br />
            <input type="text" id="specialty" name="specialty" /><br />
            <button type="button" id="renderAdButton">Render Ad</button>
          </div>
        </form>
      </section>

      <script src="/js/"></script>
    </main>

