     <main class="flex-container">
      <section class="user">
        <div>
          <h2>Create New Ad Here</h2>
        </div>
      </section>

      <section class="ads">
        <form id="renderAdForm">
          <div id="renderAdDiv">
            <h2>Tell us about your company.</h2>
            <label for="company_name">Company Name:</label><br/>
            <input type="text" id="company_name" name="company_name" /><br />
            
            <h2>What type of service do you provide?</h2>

            <input
              type="radio"
              for="service"
              id="remodelingNewConstruction"
              value="Remodeling/New Construction"
            />
            <label>Remodeling/New Construction</label><br />
            
            <input
              type="radio"
              for="service"
              id="electricianServices"
              value="Electrician Services"
            />
            <label>Electrician Services</label><br />

            <input 
                type="radio" 
                for="service"
                id="plumbing" 
                value="plumbing" />
            <label>Plumbing</label><br />

            <input 
            type="radio" 
            for="service"
            id="hvac" 
            value="HVAC" />
            <label>HVAC</label><br />

            <h2>What is your specialty?</h2>
            <label for="adText">Provide a small description about your company</label><br />
            <input type="text" id="adText" name="adText" /><br />
            <button type="button" id="renderAdButton">Render Ad</button>
          </div>
        </form>
      </section>

      <script src="/js/"></script>
    </main>

