<section class="user">
  <div>
  <h2>Username:</h2>
  <h2>Email:</h2>
  </div>

</section>


<section class="ads">
  <div>
  <button type="button">New Ad</button>
  </div>
<div class="currentAds">
<h2>ads:</h2>
</div>

<div class="comments">
  <div>
    <h3>Star Rating :</h3>
  </div>
  <div>
    <h3>Customer FeedBack:</h3>
  </div>

</div>
</section>

<script src="/js/"></script>