<div class="company card">
  <div class="card-header">
    <h2>Edit Ad</h2>
  </div>
  <form id="edit-company-form" class="card-body">
    <input type="hidden" name="company-id" value="{{company.id}}" />

    <label class="form-label" for="company-title">Handy-Man</label>
    <input
      type="text"
      name="company-title"
      value="{{company.title}}"
      class="form-input"
    />

    <label class="form-label" for="company-body">Add Your Business Description</label>
    <textarea name="company-body" class="form-input">{{company.body}}</textarea>

    <button type="submit" class="btn">Update</button>

    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>

<script src="/js/edit.js"></script>